.App {
    text-align: center;
}

.App-logo {
    width:auto;
    padding-top: 2em;
}

.App-header {
    background-color: indigo;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.half-size{
    width:50%;
    margin: auto;
}
.container{
    width:100%;
    display: inline-block;
}