.App {
    text-align: center;
}

.App-logo {
    width:auto;
    padding-top: 2em;
}

.App-header {
    background-color: indigo;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.half-size{
    width:40%;
    margin: auto;
    display: inline-block;
}
.container{
    width:80%;
}
.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */

    padding: 1em;
}